@using Syncfusion.EJ2.Schedule
@using Syncfusion.EJ2.DropDowns
@using Syncfusion.EJ2

@{
    var dataManager = new DataManager()
    {
        Url= "../api/Request",
       InsertUrl = "../api/Request/Insert",
        Adaptor = "WebApiAdaptor",
        UpdateUrl = "../api/Request/Update",
        RemoveUrl="../api/Request/Remove",
        CrossDomain = true
        
    };



}

<div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title text-primary"><i class="fa fa-certificate"></i> Scheduler</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                            title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
         
            <div class="box-body">
                <ejs-schedule id="schedule" width="100%" height="650px" showWeekend="false"  showQuickInfo="false" selectedDate="DateTime.Now">
                    <e-schedule-eventsettings dataSource="dataManager">
                        <e-eventsettings-fields id="RequestId">
                            <e-field-subject name="RequesterEmail" title="Email"></e-field-subject>
                            
                            <e-field-description name="SpecialDetails"></e-field-description>
                            <e-field-starttime name="Start"></e-field-starttime>
                            <e-field-endtime name="End"></e-field-endtime>
                          
                        </e-eventsettings-fields>
                    </e-schedule-eventsettings>
                </ejs-schedule>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">

            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>





